
<div class="datepicker">
  <input
      type="text"
      class="form-control"
      placeholder="{{options.placeholder}}"
      aria-label="{{options.placeholder}}"
      ng-model="ngModel"
      ng-change="inputChanged(ngModel)"
  />

  <a class="input-group-addon"
     tabindex='0'
     ng-click='collapse = !collapse;'
     role='button'
  >
    <span class='glyphicon glyphicon-calendar'></span>
  </a>

  <div class="datepicker-popup" ng-show="collapse">
    <div uib-datepicker
         class="well well-sm"
         ng-model="date"
         ng-change="datepickerChanged(date)"
         datepicker-options="options.datepickerOptions"
         style="margin-bottom:0;"
    ></div>
    <div uib-timepicker
         class="well well-sm"
         ng-model="dateTime"
         ng-change="timepickerChanged(dateTime)"
         show-meridian="options.showMeridian"
         show-seconds="options.showSeconds"
    ></div>
  </div>
</div>
